.content {
  text-align: center;
  min-height: 300px;
  padding: 4rem 0;
}

.content_container {
  padding-top: 100px;
}

.content p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.7;
  color: #777777;
}
